$gray: #c3c3c3;
$ddd-gray: #505050;
$dd-gray: #6c6c6c;
$d-gray: #939393;
$blue: #000082;
$purple: #a857a8;
$white: #eaccea;
$text: #000000;

$font-main: 'JetBrainsMono Nerd Font Mono';

* {
  all: unset;
}

.body {
  background-color: $gray;
  color: $text;
  font-family: $font-main;
  font-size: 10px;
  font-weight: 500;
  border-bottom: 1px solid $text;
}

.toggle-btn {
  margin: 5px 7px;
  padding: 2px 8px;
  border: 1px solid $d-gray;
}

.toggle-btn:hover {
  box-shadow: inset 1px 1px $ddd-gray;
}

.power {
  margin: 2px 1px;
  margin-right: 8px;
}

.power-menu-btn {
  padding: 2px 8px;
  border: 1px solid $d-gray;
}

.pm-btn-icon {
  font-size: 16px;
}

.btn-focus {
  box-shadow: inset 1px 1px $ddd-gray;
}

.power-menu-btn:hover {
  box-shadow: inset 1px 1px $ddd-gray;
}

.power-menu-group {
  margin: 10px;
}

.power-menu-item {
  padding: 2px 6px;
  margin: 1px 0px;
  border: 1px solid $d-gray;
}

.power-menu-item:hover {
  box-shadow: inset 1px 1px $ddd-gray;
}

.power-menu {
  background-color: $gray;
  color: $text;
  font-family: $font-main;
  font-size: 10px;
  font-weight: 500;
  border: 1px solid $text;
}

.network {
  margin: 3px 0px 2px 1px;
  border: 1px solid $d-gray;
  padding: 0px 6px;
  font-weight: 600;
}

.network-icon {
  font-size: 12px;
  margin-bottom: 2px;
}

.network-o {
  color: $text;
}

.network-x {
  color: #aa1515;
}

.datetime {
  margin: 2px 4px;
  border: 1px solid $d-gray;
  color: #000;
  padding: 0px 6px;
}

.time {
  margin: 0px 4px;
  font-size: 12px;
  font-weight: 500;
}

.date {
  margin: 0px 4px;
  font-style: italic;
}

.workspaces {
  margin: 2px 4px;
  padding: 2px;
}

.ws-icon {
  font-size: 12px;
  font-weight: 600;
  border: 1px solid $d-gray;
  padding: 0px 5px;
  box-shadow: inset 1px 1px $gray;
}

.ws-visible {
  color: $dd-gray;
}

.ws-hidden, .ws-hidden-no-windows {
  color: $dd-gray;
}

.ws-current {
  color: $text;
  box-shadow: inset 1px 1px $ddd-gray;
}

.ws-urgent {
  background-color: $white;
}

.ws-icon :hover {
  background-color: $white;
}


