@import "palette/custom.scss";

/* I would love to refactor this */

* {
    all: unset;
}

.bar {
    background-color: $base;
    color: $text;
    font-family: UbuntuNerdFont;
    font-size: 13px;
    padding: 0.25rem;
}

.text {
    margin-top: 1px;
    color: $subtext1;
    font-size: 13px;
    font-family: UbuntuMonoNerdFont;
}

.net-subtext {
    margin-left: 5px;
    font-family: UbuntuMonoNerdFont;
    color: $subtext0;
    font-size: 9px;
}

.net-title {
    all: unset;
    font-family: UbuntuMonoNerdFont;
    color: $subtext0;
    font-size: 11px;
}

.separator {
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0rem 0.75rem;
    color: $surface0;
}

.separator-v {
    margin: 0rem 0rem;
    color: $surface0;
}

.separator-sm {
    font-weight: 600;
    margin: 0rem 0.5rem;
    color: $surface2;
}

.workspaces {
    margin-left: 6px;
}

.ws_active {
    color: $lavender;
    opacity: 1;
}

.ws_inactive {
    color: $overlay0;
}

.ws_occupied {
    color: $overlay0;
}

.ws_other {
    color: $overlay0;
    opacity: 0.75;
}

.ws_other_active {
    color: $lavender;
    opacity: 0.8;
}

.ws_active_unfocused {
    color: $lavender;
    opacity: 0.5;
}

.ico {
    margin: 0px 5px;
    //padding: 0px 1px;
    padding-left: 2px;
    button {
        margin: 1px;
        padding: 1px 2px 1px 6px;
        transition: all 200ms ease-out;
        border-radius: 10px;
    }
    button:hover {
        color: $crust;
        background-color: $overlay2;
    }
}

.opts {
    border: 1px solid $overlay0;
    border-right-style: none;
    background-color: $crust;
    border-radius: 10px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.eventbox, .clickbox {
    border: 1px solid $surface1;
    color: $text;
    padding: 3px;
    border-radius: 10px;

}

.metric scale.volume trough highlight {
    all: unset;
    background-color: $overlay2;
    color: $text;
    border-radius: 10px;
    transition: all 200ms ease-out;
}

.metric scale trough {
    background-color: $surface2;
    border-radius: 50px;
    min-height: 6.25px;
    min-width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 200ms ease-out;
}

.metric scale trough:hover {
    background-color: $overlay0;
}

.metric scale.volume {
    background-color: $crust;
    padding: 0px 1px 0px 2px;
    border: 1px solid $overlay0;
    border-right-style: none;
    border-radius: 10px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.metric scale trough highlight:hover {
    background-color: $text;
}


.time {
    font-weight: 500;
    color: $text;
}

.date {
    font-weight: 400;
    color: $subtext1;
}

.music {
    color: $text;
    padding: 0px 6px;
    font-weight: 400;
    border: 1px solid $overlay2;
    border-right-style: none;
    background-color: $crust;
    border-radius: 10px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.player-ctl {
    all: unset;
    color: $text;
    padding: 1px 2px;
    button {
        color: $text;
        margin: 1px;
        padding: 1px 4px;
        transition: all 200ms ease-out;
    }
    button.player-prev {
        margin-left: 10px;
    }
    button:hover {
        color: $crust;
        background-color: $overlay2;
    }
}

.docker-ico {
    margin: 0px 4px;
    padding: 0px 4px;
    transition: all 200ms ease-out;
    color: $blue;
    border-radius: 10px;
}

.docker-ico:hover {
        color: $crust;
        background-color: $overlay2;
}

.docker {
    background-color: $crust;
    border: 1px solid $overlay0;
    border-right-style: none;
    border-radius: 10px;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
}

.docker-count {
    margin: 0px 0px;
    background-color: $crust;
    padding:0px 3px;
    color: $text;
    button {
        transition: all 200ms ease-out;
        .ctr-exit {
            color: $red;
            margin: 2px 0px;
            margin-left: 4px;
            padding: 0px 4px;
            transition: all 200ms ease-out;
            border-radius: 10px;
        }
    }
    button:hover {
        .ctr-exit {
            color:$crust;
            background-color: $overlay2;
        }
    }
}

.netg-box {
    border: 1px solid $overlay2;
    background-color: $crust;
    color: $subtext0;
    margin: 0px 5px;
    padding: 0px 0px;
    border-radius: 10px;
}

.netgraph {
    all: unset;
    background-color: $text;
    border: 1px solid $overlay2;
    margin: 3px 5px;
}

.sysinfo {
    margin: 0px 5px;
}

.sys {
    background-color: $surface1;
	color: $text;
	padding: 5px 0px;
}

.sys-icon {
    font-family: UbuntuMonoNerdFont;
    color: $text;
    padding: 2px;
    padding-left: 3px;
}

.sys scale {
    all: unset;
    background-color: $overlay2;
    color: $text;
    border-radius: 10px;
    transition: all 200ms ease-out;
    border-radius: 10px;
}






