// palette
$purple-light: #47216E;
$purple-heavy: #c6538b;
$pink-light: #ec7abf;
$pink-heavy: #c6538b;
$text: #28163B;
$subtext: #4B2673;

$base: #f4b5d8;
$base-secondary: #e8ace8;
$bg-gradient: linear-gradient(to left, $base, $base-secondary);
$active-gradient: linear-gradient(to left, $pink-light, $purple-light);
// @import "palette/test.scss";
* {
    all: unset;
}

/* -- light --------------
----------------------- */
.background {
    background-color: #ffffff;
}

.background-overlay {
    background-color: $base-secondary;
    padding: 0.25rem;
    margin: 3px;
    border-radius: 0.25rem;
}

.text-main {
    color: $text;
}

.text-sub {
    color: $subtext;
    opacity: 0.65;
}

.text-min {
    color: $text;
    opacity: 0.15;
}

.btn {
    transition: 0.3s all ease-in-out;
}

.btn:hover {
    background-color: $subtext;
    border-radius: 0.25rem;
    color: $pink-light;
}

.text-green {
    color: #84e563;
}
.text-red {
    color: #d55763;
}

.text-pink-heavy {
    color: $pink-heavy;
}

.text-pink-light {
    color: $pink-light;
}

.font-main {
    font-size: 0.8rem;
    font-family: 'JetBrainsMono Nerd Font', sans-serif;
}

.font-sm {
    font-size: 0.75rem;
    font-family: 'JetBrainsMono Nerd Font', sans-serif;
}

.font-xs {
    font-size: 0.5rem;
    font-family: 'JetBrainsMono Nerd Font', sans-serif;
}

.italic {
    font-style: italic;
}

.font-black {
    font-weight: 900;
}

.font-bold {
    font-weight: 700;
}

.font-medium {
    font-weight: 600;
}

.font-normal {
    font-weight: 500;
}

.font-thin {
    font-weight: 100;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.m-4 {
    margin: 1rem;
}

.p-4 {
    padding: 1rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.ico-adjust-reg {
    padding-right: unset;
    padding-right: 0.6rem;
}

.ico-adjust-med {
    padding-right: unset;
    padding-right: 0.65rem;
}

.ico-adjust-big {
    padding-right: unset;
    padding-right: 0.7rem;
}

.btn-border {
    border: 1px solid $pink-light;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
}

.ws_active,
.ws_inactive,
.ws_occupied,
.ws_other,
.ws_other_active,
.ws_active_unfocused {
    padding: 0.25rem 0rem;
    margin: 3px 0px;
    color: $subtext;
}

.ws_other,
.ws_occupied,
.ws_inactive,
.ws_active_unfocused {
    opacity: 0.4;
}


.metric scale.volume trough highlight {
    background-color: #9a76ad;
    padding: 0.25rem;
    margin: 3px;
    border-radius: 0.25rem;
}

.metric scale trough {
    background-color: $base-secondary;
    border-radius: 50px;
    min-height: 5px;
    min-width: 85px;
    transition: all 300ms ease-out;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.metric scale trough:hover {
    background-color: #9a76ad;
}

.metric scale.volume trough highlight:hover {
    background-color: #dc8bbc;
}

