AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
    AlignCompound: true
    AlignFunctionPointers: true
    PadOperators: true
AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignEscapedNewlines: LeftWithLastLine
AlignTrailingComments: 
  Kind: Always
  OverEmptyLines: 2
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true

BinPackArguments: false
BinPackParameters: false

BreakAdjacentStringLiterals: true
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: true

IndentExternBlock: Indent
IndentGotoLabels: true
IndentPPDirectives: AfterHash # I maybe prefer 'BeforeHash' but idk

ColumnLimit: 80
TabWidth: 4
IndentWidth: 4
