@define-color accent #91a0c9;
@define-color muted  #5d6b91;

#workspaces button          { color: @muted; }
#workspaces button.visible  { color: @accent; }
#workspaces button.active   { color: white; }

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 11px;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces button {
    padding: 1px;
    margin: 0;
    color: #5d6b91;
}

#workspaces button.empty {
    color: black;
}

#workspaces button.visible {
    color: #91a0c9;
    /* opacity: 65%; */
}

#workspaces button.active {
    color: white;
}

#clock {
    margin-right: 25px;
}

#custom-power {
    margin-left: 25px;
}

#workspaces, #clock, #pulseaudio, #custom-power,
#custom-separator, #window, #network, #tray {
  margin-top: 5px;
  margin-bottom: 2px;
}

#network.disconnected,
#network.ethernet {
    margin-right: 20px;
}

#network.ethernet, 
#network.disconnected, 
#custom-power, 
#custom-separator {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

#network.ethernet {
    background-image: url('/home/please/.config/waybar/svg/net/eth-1.svg');
}

#network.disconnected {
    background-image: url('/home/please/.config/waybar/svg/net/0.svg');
}

#custom-power {
    background-image: url('/home/please/.config/waybar/svg/power.svg');
    background-color: transparent;
}

#custom-separator {
    margin-left: 12px;
    margin-right: 12px;
    background-image: url('/home/please/.config/waybar/svg/dot.svg');
}

#workspaces,
#clock,
#pulseaudio,
#custom-power,
#custom-separator,
#window {
    margin-top: 5px;
    margin-bottom: 2px;
}

#pulseaudio {
    background-image: url('/home/please/.config/waybar/svg/speaker.svg');
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: auto;
}
