/* 				   -- palette --
* drop-in replacable with catppuccin scss palette
*/

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

* {
	all: unset;
	font-family: "RobotoMono Nerd Font Propo";
	background-color: $base;
	color: $text;
	margin: 1px 0px 1px 0px;
}

.separator {
	color: $surface2;
	padding: 0px 5px 4px 5px;
}

.tray {
	font-size: 11px;
}

.trayicon {
	color: $text;
	font-size: 14px;
	padding: 6px;
}

.trayprog {
	background-color: $surface2;
	color: $mauve;
	padding: 4px 0px 4px 0px;
}

.trayprogred {
	background-color: $red;
	padding: 4px 0px 4px 0px;
}

.mempanel {
	background-color: $crust;
	padding: 8px;
  margin: 6px;
	border-radius: 25px;
}

.mempanel_header {
	background-color: $crust;
	font-weight: bold;
	border-bottom: 1px solid $overlay0;
}

.mempanel_main {
	background-color: $crust;
	font-size: 12px;
}

.mempanel_sub {
	background-color: $crust;
	font-size: 12px;
	margin-bottom: 12px;
}

.mempanel_top {
	background-color: $crust;
	font-weight:bold;
	border-bottom: 1px solid $overlay0;
}

.mempanel_top_sub {
	background-color: $crust;
	font-size: 12px;
}

.cpupanel {
  background-color: $crust;
  padding: 6px;
  border-radius: 25px;
  font-weight: bold;
}

.processor {
  font-size: 14px;
  background-color: $crust;
  margin: 0px 12px 0px 12px;
  border-bottom: 1px solid $overlay0;
}

.proc_sub {
  font-size: 12px;
  background-color: $crust;
  padding: 6px;
  font-weight: normal;
}

.time {
	padding: 0px 10px 0px 0px;
}

.time_sub {
  font-weight: bold;
	color: $text;
}

.date {
	padding: 0px 0px 0px 0px;
}

.date_sub {
  color: $overlay2;
}

.workspaces0 {
  margin: 0px 0px 0px 6px;
}

.ws_active {
  color: $mauve;
}

.ws_inactive {
  color: $surface2;
}

.ws_occupied {
    color: $overlay0;
}

.ws_other {
    color: $overlay0;
}

.ws_other_active {
    color: $subtext0;
}

.ws_active_unfocused {
    color: $mauve;
    opacity: 0.5;
}

.powerbtn {
  color: $red;
  margin: 0px 13px 0px 0px;
}

.td_right {
  margin: 0px 10px 0px 0px;
}

.active_window {
  font-size: 12px;
  font-weight: bold;
  color: $mauve;
}

.spotify {
  color: $surface0;
  font-size: 13px;
}
